<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruban.common.dao.IResourceMapper">

	<select id="selectAll" resultType="com.ruban.common.domain.Resource">
		SELECT 
			s.ID as id, s.NAME as name, s.TYPE as type, s.LINK as link, s.ICON as icon, s.PARENT_ID as parentId, 
			s.FLAG as flag, s.MEMO as memo, s.STATE as state,
			s.ADD_TIME as addTime, s.ADD_USER_ID as addUserId, s.MOD_TIME as modTime, s.MOD_USER_ID as modUserId, s.UPDATE_LOCK as updateLock
		FROM SYS_T_RESOURCE s 
		ORDER BY s.MOD_TIME DESC
	</select>
	
	<select id="selectWithCondition" resultType="com.ruban.common.domain.Resource">
		SELECT 
			s.ID as id, s.NAME as name, s.TYPE as type, s.LINK as link, s.ICON as icon, s.PARENT_ID as parentId, 
			s.FLAG as flag, s.MEMO as memo, s.STATE as state,
			s.ADD_TIME as addTime, s.ADD_USER_ID as addUserId, s.MOD_TIME as modTime, s.MOD_USER_ID as modUserId, s.UPDATE_LOCK as updateLock
		FROM SYS_T_RESOURCE s 
		WHERE 1 = 1
		<if test="name != null and name != ''">
			and s.name like "%" + #{name} + "%"
		</if>
		<if test="flag != null and flag != ''">
			and s.flag = #{flag}
		</if>
		<if test="type != null and type != ''">
			and s.type = #{type}
		</if>
		ORDER BY s.MOD_TIME DESC
	</select>

	<select id="findById" parameterType="java.lang.Long" resultType="com.ruban.common.domain.Resource">
		SELECT 
			s.ID as id, s.NAME as name, s.TYPE as type, s.LINK as link, s.ICON as icon, s.PARENT_ID as parentId, 
			s.FLAG as flag, s.MEMO as memo, s.STATE as state,
			s.ADD_TIME as addTime, s.ADD_USER_ID as addUserId, s.MOD_TIME as modTime, s.MOD_USER_ID as modUserId, s.UPDATE_LOCK as updateLock
		FROM SYS_T_RESOURCE s 
		WHERE s.id = #{id}
	</select>
	
	<delete id="deleteById" parameterType="java.lang.Long">
		DELETE FROM SYS_T_RESOURCE
		WHERE id = #{id}
	</delete>
	
	<delete id="deleteByIds" parameterType="java.lang.String">
		DELETE FROM SYS_T_RESOURCE
		WHERE id in 
        <foreach item="ids" collection="array" open="(" separator="," close=")">  
        	#{ids}  
        </foreach> 
	</delete>
	
	<insert id="insert" parameterType="com.ruban.common.domain.Resource" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO SYS_T_RESOURCE (
			NAME, TYPE, LINK, ICON, PARENT_ID, FLAG, MEMO, STATE, ADD_TIME, ADD_USER_ID, MOD_TIME, MOD_USER_ID, UPDATE_LOCK
		)
		VALUES(
			#{name, jdbcType=VARCHAR},
			#{type, jdbcType=VARCHAR},
			#{link, jdbcType=INTEGER},
			#{icon, jdbcType=TINYINT},
			#{parentId, jdbcType=INTEGER},
			#{flag, jdbcType=VARCHAR},
			#{memo, jdbcType=VARCHAR},
			#{state, jdbcType=VARCHAR},
			#{addTime, jdbcType=TIMESTAMP},
			#{addUserId, jdbcType=INTEGER},
			#{modTime, jdbcType=TIMESTAMP},
			#{modUserId, jdbcType=INTEGER},
			#{updateLock, jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="update" parameterType="com.ruban.common.domain.Resource">
		UPDATE SYS_T_RESOURCE
		SET 
			NAME = #{name, jdbcType=VARCHAR},
			TYPE = #{type, jdbcType=VARCHAR},
			LINK = #{link, jdbcType=VARCHAR},
			ICON = #{icon, jdbcType=VARCHAR},
			PARENT_ID = #{parentId, jdbcType=INTEGER},
			FLAG = #{flag, jdbcType=BIT},
			MEMO = #{memo, jdbcType=VARCHAR},
			STATE = #{state, jdbcType=TINYINT},
			MOD_TIME = #{modTime, jdbcType=TIMESTAMP},
			MOD_USER_ID = #{modUserId, jdbcType=INTEGER},
			UPDATE_LOCK = #{updateLock, jdbcType=VARCHAR}
		WHERE ID = #{id, jdbcType=INTEGER} and UPDATE_LOCK = #{holdLock, jdbcType=VARCHAR}
	</update>
</mapper>