<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruban.rbac.dao.ICompanyMapper">

	<select id="selectAll" resultType="com.ruban.rbac.domain.organization.Company">
		SELECT 
			ID as id, CODE as code, NAME as name, ADDRESS as address,POST_CODE as postcode, TITLE as title, TEL as tel,
			EMAIL as email, PARENT_ID as parentId, TYPE as type, MEMO as memo, UPDATETIME as updatetime
		FROM ORG_T_COMPANY
	</select>
	
	<insert id="insert" parameterType="com.ruban.rbac.domain.organization.Company" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO ORG_T_COMPANY(
			ID, CODE, NAME, ADDRESS, POST_CODE, TITLE, TEL, EMAIL, PARENT_ID, TYPE, MEMO, UPDATETIME
		)
		VALUES(
			#{id, jdbcType=INTEGER},
			#{code, jdbcType=VARCHAR},
			#{name, jdbcType=VARCHAR},
			#{address, jdbcType=VARCHAR},
			#{postCode, jdbcType=VARCHAR},
			#{title, jdbcType=VARCHAR},
			#{tel, jdbcType=VARCHAR},
			#{email, jdbcType=VARCHAR},
			#{parentId, jdbcType=INTEGER},
			#{type, jdbcType=TINYINT},
			#{memo, jdbcType=VARCHAR},
			#{updateTime, jdbcType=TIMESTAMP}
		)
		
	</insert>
</mapper>