<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruban.rbac.dao.authz.IRoleMapper">

	<select id="selectAll" resultType="com.ruban.rbac.domain.authz.Role">
		SELECT 
			s.ID as id, s.NAME as name, s.DELEGATED as delegated, s.MEMO as memo, s.STATE as state,
			s.COMPANY_ID as companyId, c.NAME as companyName,
			s.ADD_TIME as addTime, s.ADD_USER_ID as addUserId, s.MOD_TIME as modTime, s.MOD_USER_ID as modUserId, s.UPDATE_LOCK as updateLock
		FROM AUTHZ_T_ROLE s 
		LEFT JOIN ORG_T_COMPANY c on s.COMPANY_ID = c.ID
		ORDER BY s.MOD_TIME DESC
	</select>
	
	<select id="selectWithCondition" resultType="com.ruban.rbac.domain.authz.Role">
		SELECT 
			s.ID as id, s.NAME as name, s.DELEGATED as delegated, s.MEMO as memo, s.STATE as state,
			s.COMPANY_ID as companyId, c.NAME as companyName,
			s.ADD_TIME as addTime, s.ADD_USER_ID as addUserId, s.MOD_TIME as modTime, s.MOD_USER_ID as modUserId, s.UPDATE_LOCK as updateLock
		FROM AUTHZ_T_ROLE s 
		LEFT JOIN ORG_T_COMPANY c on s.COMPANY_ID = c.ID
		WHERE 1 = 1
		<if test="name != null and name != ''">
			and s.name like "%" + #{name} + "%"
		</if>
		<if test="companyId != null">
			and s.COMPANY_ID = #{companyId}
		</if>
		ORDER BY s.MOD_TIME DESC
	</select>

	<select id="findById" parameterType="java.lang.Long" resultType="com.ruban.rbac.domain.authz.Role">
		SELECT 
			s.ID as id, s.NAME as name, s.DELEGATED as delegated, s.MEMO as memo, s.STATE as state,
			s.COMPANY_ID as companyId, c.NAME as companyName,
			s.ADD_TIME as addTime, s.ADD_USER_ID as addUserId, s.MOD_TIME as modTime, s.MOD_USER_ID as modUserId, s.UPDATE_LOCK as updateLock
		FROM AUTHZ_T_ROLE s 
		LEFT JOIN ORG_T_COMPANY c on s.COMPANY_ID = c.ID
		WHERE s.id = #{id}
	</select>
	
	<delete id="deleteById" parameterType="java.lang.Long">
		DELETE FROM AUTHZ_T_ROLE
		WHERE id = #{id}
	</delete>
	
	<delete id="deleteByIds" parameterType="java.lang.String">
		DELETE FROM AUTHZ_T_ROLE
		WHERE id in 
        <foreach item="ids" collection="array" open="(" separator="," close=")">  
        	#{ids}  
        </foreach> 
	</delete>
	
	<insert id="insert" parameterType="com.ruban.rbac.domain.authz.Role" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO AUTHZ_T_ROLE (
			NAME, DELEGATED, STATE, MEMO, COMPANY_ID, ADD_TIME, ADD_USER_ID, MOD_TIME, MOD_USER_ID, UPDATE_LOCK
		)
		VALUES(
			#{name, jdbcType=VARCHAR},
			#{delegated, jdbcType=BIT},
			#{state, jdbcType=TINYINT},
			#{memo, jdbcType=VARCHAR},
			#{companyId, jdbcType=INTEGER},
			#{addTime, jdbcType=TIMESTAMP},
			#{addUserId, jdbcType=INTEGER},
			#{modTime, jdbcType=TIMESTAMP},
			#{modUserId, jdbcType=INTEGER},
			#{updateLock, jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="update" parameterType="com.ruban.rbac.domain.authz.Role">
		UPDATE AUTHZ_T_ROLE
		SET 
			NAME = #{name, jdbcType=VARCHAR},
			DELEGATED = #{delegated, jdbcType=BIT},
			MEMO = #{memo, jdbcType=VARCHAR},
			COMPANY_ID = #{companyId, jdbcType=INTEGER},
			MOD_TIME = #{modTime, jdbcType=TIMESTAMP},
			MOD_USER_ID = #{modUserId, jdbcType=INTEGER},
			UPDATE_LOCK = #{updateLock, jdbcType=VARCHAR}
		WHERE ID = #{id, jdbcType=INTEGER} and UPDATE_LOCK = #{holdLock, jdbcType=VARCHAR}
	</update>
	
	<update id="updateState" parameterType="com.ruban.rbac.domain.authz.Role">
		UPDATE AUTHZ_T_ROLE
		SET 
			STATE = #{state, jdbcType=VARCHAR},
			UPDATE_LOCK = #{updateLock, jdbcType=VARCHAR}
		WHERE ID = #{id, jdbcType=INTEGER} and UPDATE_LOCK = #{holdLock, jdbcType=VARCHAR}
	</update>
</mapper>