<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruban.rbac.dao.IRoleMutexMapper">

	<select id="selectAll" resultType="com.ruban.rbac.domain.authz.RoleMutex">
		SELECT 
			s.ID as id, s.ROLE_ID as roleId, s.MUTEX_ID as mutexId, 
			s.MOD_TIME as modTime, s.MOD_USER_ID as modUserId
		FROM AUTHZ_R_ROLE_MUTEX s 
		ORDER BY s.MOD_TIME DESC
	</select>
	
	<select id="selectWithCondition" resultType="com.ruban.rbac.domain.authz.RoleMutex">
		SELECT 
			s.ID as id, s.ROLE_ID as roleId, s.MUTEX_ID as mutexId, 
			s.MOD_TIME as modTime, s.MOD_USER_ID as modUserId
		FROM AUTHZ_R_ROLE_MUTEX s 
		WHERE 1 = 1
		<if test="roleId != null and roleId != ''">
			and s.ROLE_ID = #{roleId}
		</if>
		<if test="mutexId != null">
			and s.MUTEX_ID = #{mutexId}
		</if>
		ORDER BY s.MOD_TIME DESC
	</select>

	<select id="findById" parameterType="java.lang.Long" resultType="com.ruban.rbac.domain.authz.RoleMutex">
		SELECT 
			s.ID as id, s.ROLE_ID as roleId, s.MUTEX_ID as mutexId, 
			s.MOD_TIME as modTime, s.MOD_USER_ID as modUserId
		FROM AUTHZ_R_ROLE_MUTEX s
		WHERE s.id = #{id}
	</select>
	
	<delete id="deleteById" parameterType="java.lang.Long">
		DELETE FROM AUTHZ_R_ROLE_MUTEX
		WHERE id = #{id}
	</delete>
	
	<delete id="deleteByIds" parameterType="java.lang.String">
		DELETE FROM AUTHZ_R_ROLE_MUTEX
		WHERE id in 
        <foreach item="ids" collection="array" open="(" separator="," close=")">  
        	#{ids}  
        </foreach> 
	</delete>
	
	<insert id="insert" parameterType="com.ruban.rbac.domain.authz.RoleMutex" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO AUTHZ_R_ROLE_MUTEX (
			ROLE_ID, MUTEX_ID, MOD_TIME, MOD_USER_ID
		)
		VALUES(
			#{roleId, jdbcType=INTEGER},
			#{mutexId, jdbcType=INTEGER},
			#{modTime, jdbcType=TIMESTAMP},
			#{modUserId, jdbcType=INTEGER}
		)
	</insert>
	
	<update id="update" parameterType="com.ruban.rbac.domain.authz.RoleMutex">
		UPDATE AUTHZ_R_ROLE_MUTEX
		SET 
			ROLE_ID = #{roleId, jdbcType=VARCHAR},
			MUTEX_ID = #{mutexId, jdbcType=VARCHAR},
			MOD_TIME = #{modTime, jdbcType=TIMESTAMP},
			MOD_USER_ID = #{modUserId, jdbcType=INTEGER}
		WHERE ID = #{id, jdbcType=INTEGER}
	</update>
</mapper>