/**加载面板**/
#loadPanel {
	display: none;
	overflow-y: auto;
	overflow-x: auto;
	width: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	background-color: gray;
	filter: alpha(opacity =   30);
	opacity: .3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	z-index: 99999;
	background-image: url("../images/loading.gif");
	background-repeat: no-repeat;
	background-position: center;
}
.top {
	position: absolute;
	top: 0;
	left: 0;
	height: 35px;
	width: 100%;
	background-image: url("../images/top_bg.png");
}

.title {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
}
.title img {
	margin-top: 5px;
}
.userInfo {
	position: absolute;
	top: 0;
	right: 0;
	height: 35px;
	color: white;
	padding-top: 5px;
	white-space: nowrap;
}
.userInfo img {
	width: 24px;
	height: 24px;	
}
.left {
	position: absolute;
	top: 35px;
	width: 150px;
	margin-left: -10px;
	border-right: 1px solid gray;
}
.menu {
	z-index: 99999999;
}
.menu .current {
	color: white;
	font-weight: bold;
	background-image: url("../images/menu_bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
.menu li {
	cursor: pointer;
	height: 60px;
	line-height: 60px;
	padding-left: 20px;
	border-top: 1px solid gray;
	background-color: #C7D2FD;
	font-size: 13px;
	color: #008C61;
	list-style: none;
}

.menu a {
	line-height:
}

.menu_hook {
	background-color: #029B6C;
	font-weight: bold;
	cursor: pointer;
}

.sub_menu {
	margin-left: 130px;
	width: 120px;
	list-style: none;
	margin-top: -60px;
	z-index: 1000000;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.sub_menu li {
	font-weight: normal;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	border-top: 1px solid gray;
	background-color: #C7D2FD;
	font-size: 13px;
	color: #008C61;
	list-style: none;
}

#content {
	margin-left: 150px;
	margin-top: 40px;
}
div#rMenu {
	position: absolute;
	display:none;
	top: 0;
	text-align: left;
	padding: 4px;
}
div#rMenu ul{
	border-left: 1px solid blue;
	border-right: 1px solid blue;
	border-top: 1px solid blue;
}
div#rMenu li {
	height: 30px;
	line-height:30px;
	border-bottom: 1px solid blue;
	background-color: #F2F2F2;
}
div#rMenu div {
	padding: 0;
	vertical-align: middle;
	color:green;
	font-weight: bold;
	cursor: pointer;
}
div.myMenu {
	position: absolute;
	display:none;
	top: 0;
	text-align: left;
	padding: 4px;
}
div.myMenu ul{
	border-left: 1px solid blue;
	border-right: 1px solid blue;
	border-top: 1px solid blue;
}
div.myMenu li {
	height: 30px;
	line-height:30px;
	border-bottom: 1px solid blue;
	background-color: #F2F2F2;
}
div.myMenu div {
	padding: 0;
	vertical-align: middle;
	color:green;
	font-weight: bold;
	cursor: pointer;
}