@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.eot?1459301973');
	src: url('../fonts/iconfont.eot?&1459301973#iefix')
		format("embedded-opentype"), url('../fonts/iconfont.woff?1459301973')
		format("woff"), url('../fonts/iconfont.ttf?1459301973')
		format("truetype"), url('../fonts/iconfont.svg?1459301973#iconfont')
		format("svg")
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale
}

/**按钮里图标的样式**/
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale
}
/**清除浮动的方式**/
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	display: inline-block
}

.clearfix {
	height: 1%
}

.clearfix {
	display: block;
	overflow: hidden
}

.vline {
	border-left: 1px solid #B7D0E4;
	display: inline-block;
	margin-left: -1px;
	padding: 0px 0px 0px 2px;
	margin-right: -9px;
	height: 100%;
	width: 1px;
}
.line {
	border-bottom: 1px solid #B7D0E4;
	display: inline-block;
	padding: 0px 0px 0px 0px;
}

/**文本单行显示，超出部分添加省略号…来表示**/
.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}
/**树结构，如机构树**/
.ztree {
	width: 220px
}

.ztree li a {
	display: inline !important
}
/**成功时文本的样式**/
.text-success {
	color: #309270
}
/**错误时文本的样式**/
.text-error {
	color: #fc0000
}
/**文本的样式**/
.impInfo {
	color: #fb5d48
}
/**内容容器的样式**/
#inner-bd {
	padding: 0 15px
}
/**提示文本的样式**/
.text-tip {
	font-size: 12px;
	color: #b3b3b3
}
/**成功时提示文本的样式**/
.success-tip {
	color: #309270
}
/**按钮的样式**/
.button {
	*float: left;
	display: inline-block;
	padding: 0 14px;
	height: 32px;
	line-height: 32px;
	background-color: #f1f1f1;
	border: 1px solid #c2c2c2;
	border-radius: 3px;
	color: #000;
	font-size: 14px;
	cursor: pointer;
	margin-right: 6px;
	margin-bottom: -10px;
}
/**按钮里图标的样式**/
.button .iconfont {
	float: left;
	color: #1b1b1b;
	margin-right: 10px;
	*margin-top: -2px;
	font-size: 20px
}
/**current类型的按钮的样式**/
.button.current {
	background-color: #4169E1;
	border: 1px solid #6495ED
}
/**current类型的按钮中图标的样式**/
.button.current .iconfont {
	color: #fff
}
/**current类型的按钮中文本的样式**/
.button.current .button-label {
	color: #fff
}
/**current类型的按钮中A标签的样式**/
.button.current .button-label a {
	color: #fff
}
/**当鼠标悬停在按钮时的样式**/
.button:hover {
	background-color: #0000CD;
	border: 1px solid #6495ED
}
/**当鼠标悬停在按钮时，图标的样式**/
.button:hover .iconfont {
	color: #fff
}
/**当鼠标悬停在按钮时，文本的样式**/
.button:hover .button-label {
	color: #fff
}
/**按钮不可用时的样式**/
.button.disable {
	color: #b8b8b8;
	border: 1px solid #dddddd;
	cursor: not-allowed;
	background-color: #f1f1f1
}
/**按钮不可用时，文本的样式**/
.button.disable .button-label {
	color: #b8b8b8
}
/**按钮不可用时，图标的样式**/
.button.disable .iconfont {
	color: #b8b8b8
}
/**按钮里文本的样式**/
.button .button-label {
	float: left;
	height: 16px;
	margin-top: 8px;
	font-size: 14px;
	color: #000;
	line-height: 16px
}
/**按钮组合容器的样式**/
.button-group {
	*float: left;
	*width: 100%;
	margin-bottom: 15px
}
/**下拉框的样式**/
select {
	display: inline-block;
	width: 230px;
	height: 33px;
	font: 14px/20px "Microsoft YaHei";
}
/**类型为文本或密码的输入框的样式**/
input[type="text"], input[type="password"] {
	height: 33px;
	line-height: 33px;
	border: 1px solid #c2c2c2;
	width: 220px;
	padding: 0 5px;
}
/**多行文本的样式**/
textarea {
	border: 1px solid #c2c2c2;
	padding: 5px;
	resize: none;
	height: 80px
}
/**上传时超链接容器的样式**/
.a-upload {
	font-size: 14px;
	padding: 4px 10px;
	height: 24px;
	line-height: 24px;
	position: relative;
	cursor: pointer;
	color: #c2c2c2;
	background: #fafafa;
	border: 1px solid #c2c2c2;
	border-radius: 4px;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-decoration: none
}
/**上传时超链接容器里输入框的样式**/
.a-upload input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity = 0);
	cursor: pointer
}
/**当鼠标悬停在上传时超链接容器时的样式**/
.a-upload:hover {
	color: #444;
	background: #eee;
	border-color: #ccc;
	text-decoration: none
}
/**tab容器的样式**/
.tab-wraper {
	margin-bottom: 15px
}
/**tab容器中tab的样式**/
.tab-wraper .tab {
	height: 42px;
	margin-bottom: 15px;
	border-bottom: 1px solid #c2c2c2
}
/**tab容器中li的样式**/
.tab-wraper .tab li {
	position: relative;
	top: 1px;
	float: left;
	margin-right: 5px;
	height: 42px;
	line-height: 42px;
	background: #6495ED;
	font-size: 14px;
	font-weight: bold
}
/**tab容器中超链接的样式**/
.tab-wraper .tab li a {
	padding: 0 15px;
	display: block;
	color: #fff;
	text-decoration: none
}
/**tab容器中current类型的li的样式**/
.tab-wraper .tab li.current {
	top: 0;
	border: 1px solid #c2c2c2;
	border-top: 3px solid #ffaa05;
	border-bottom: none;
	background: #fff;
	height: 40px
}
/**tab容器中current类型的li的超链接的样式**/
.tab-wraper .tab li.current a {
	color: #000
}
/**标题容器**/
.crumbs {
	margin-bottom: 15px;
	height: 40px;
	background-color: #f1f1f1;
	border-bottom: 1px solid #d7d6d6;
	border-top: 1px solid #fff
}
/**标题容器中箭头的样式**/
.crumbs .crumbs-arrow {
	float: left;
	margin-left: 15px;
	margin-top: 12px;
	width: 16px;
	height: 16px;
	background: url('../imgs/main/bar_ico.png?1459301973');
	display: inline-block;
	margin-right: 9px
}
/**标题容器中文本的样式**/
.crumbs .crumbs-label {
	float: left;
	display: inline-block;
	color: #000;
	font-size: 14px;
	height: 16px;
	margin-top: 15px;
	line-height: 12px;
	font-weight: bold;
	text-decoration: none
}
/**当鼠标悬停在标题容器中文本的样式**/
.crumbs .crumbs-label:hover {
	text-decoration: underline
}
/**表格容器的样式**/
.kv-table {
	border-right: 1px solid #dadada \9;
	*border-right: 1px solid #dadada
}
/**表格中行的样式**/
.kv-table .kv-table-row {
	border-bottom: 1px solid #dadada
}
/**表格里标题行的样式**/
.kv-table .kv-table-row .kv-item {
	padding-left: 134px
}
/**表格里标题行的label的样式**/
.kv-table .kv-table-row .kv-item .kv-label {
	float: left;
	padding: 0 10px;
	margin-left: -134px;
	width: 112px;
	background: #f5f5f5;
	border: 1px solid #dadada;
	border-bottom: none;
	border-top: none
}
/**表格里标题行内容容器的样式**/
.kv-table .kv-table-row .kv-item .kv-content-wrap {
	float: left;
	width: 100%
}
/**表格里标题行内容的样式**/
.kv-table .kv-table-row .kv-item .kv-content {
	padding: 10px
}
/**表格，3等份行item容器**/
.kv-table .kv-table-row.col-3 .kv-item-wrap {
	float: left;
	width: 33.33%;
}
/**表格，2等份行item容器**/
.kv-table .kv-table-row.col-2 .kv-item-wrap {
	float: left;
	width: 50.0%;
}
/**表格容器的样式**/
table.kv-table {
	width: 100%
}
/**表格容器label的样式**/
table.kv-table .kv-label {
	padding: 0 10px;
	width: 114px;
	background: #f5f5f5;
	border: 1px solid #dadada;
	border-top: none;
	text-align: center;
}
/**表格容器内容或label的样式**/
table.kv-table td.kv-content, table.kv-table td.kv-label {
	height: 34px;
	padding: 10px 0;
	border-bottom: 1px solid #dadada;
	font-size: 14px;
	padding-left: 10px;
}
/**表格容器第1行内容或label的样式**/
table.kv-table tr:first-child td.kv-content, table.kv-table tr:first-child td.kv-label
	{
	border-top: 3px solid #0c9d72
}
/**表格容器第1行第1列内容或label的样式**/
table.kv-table tr:first-child td.kv-content:first-child, table.kv-table tr:first-child td.kv-label
	{
	border-top-color: #ffaa05
}
/**表格容器最后一列内容的样式**/
table.kv-table tr td.kv-content:last-child {
	border-right: 1px solid #dadada
}
/**表格容器按钮的样式**/
table.kv-table tr .button {
	text-align: center;
	border-radius: 0;
	text-indent: 0;
	height: 32px
}
/**表格容器内容的样式**/
table.kv-table .kv-content {
	width: 260px;
	padding: 5px 10px
}
/**表格容器多行文本的样式**/
table.kv-table .textarea-wrap textarea {
	width: 97%
}
/**条件查询外包裹容器的样式**/
.kv-group-outer {
	margin-bottom: 15px
}
/**条件查询包裹容器的样式**/
.kv-group {
	border-bottom: 1px solid #dadada;
	padding-bottom: 7px
}
/**检索条件顶部栏**/
.search-top {
	border-bottom: 3px solid #0c9d72;
}
/**检索条件区域**/
.search-condition {
	padding-top: 14px;
	padding-left: 15px;
	padding-rigth: 15px;
	background-color: #f1f1f1;
}

.search-title {
	font-size: 16px;
	background-color: #0c9d72;
	width: 100px;
	height: 35px;
	color: white;
	line-height: 35px;
	text-align: center;
}
/**检索条件行**/
.kv-group-row {
	width: 100%;
	float: left;
}
/**条件查询左条目容器的样式**/
.kv-group .kv-item {
	float: left;
	height: 38px;
	width: auto;
	margin-right: 20px;
	margin-bottom: 8px
}
/**条件查询右条目容器的样式**/
.kv-group .kv-item.right {
	float: right
}
/**条件查询左条目的样式**/
.kv-group .kv-item .item-lt {
	float: left;
	color: #000;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	width: auto
}
/**条件查询右条目的样式**/
.kv-group .kv-item .item-rt {
	float: left;
	width: auto;
	line-height: 38px
}
/**条件查询按钮的样式**/
.kv-group .kv-item .item-rt .button {
	float: left;
	border-radius: 0;
	text-align: center;
	padding: 0 20px;
	margin-right: 10px
}
/**当鼠标悬停在条件查询按钮的样式**/
.kv-group .kv-item .item-rt .button:hover {
	color: #fff
}
/**条件查询文本类型的输入框的样式**/
.kv-group .kv-item .item-rt input[type=text] {
	float: left;
	margin-right: 10px
}
/**条件查询日期容器的样式**/
.kv-group .kv-item .item-rt .date {
	float: left;
	position: relative
}
/**条件查询日期容器中文本类型的输入框的样式**/
.kv-group .kv-item .item-rt .date input[type=text] {
	width: 190px;
	padding-right: 30px
}
/**条件查询，日期容器中图标的样式**/
.kv-group .kv-item .item-rt .date i {
	position: absolute;
	right: 16px;
	top: -3px;
	font-size: 22px;
	cursor: pointer
}
/**当鼠标悬停在条件查询日期容器中图标时的样式**/
.kv-group .kv-item .item-rt .date i:hover {
	color: #0c9d72
}
/**grid样式的表格容器**/
.grid {
	border: 1px solid #cfcfcf;
	width: 100%
}
/**grid样式的表格容器，标题行的样式**/
.grid thead {
	color: #000;
	font-size: 14px;
	font-weight: bold
}
/**grid样式的表格容器，标题行里列的样式**/
.grid thead th {
	height: 38px;
	padding-left: 15px;
	border-left: 1px solid #dadada;
	border-right: 0;
	border-bottom: 1px solid #dadada;
	background-color: #f1f1f1
}
/**grid样式的表格容器，标题行里第1列的样式**/
.grid thead th:first-child {
	border-left: 0
}
/**grid样式的表格容器，复选框的样式**/
.grid .grid-checkbox {
	width: 50px;
	padding-left: 0;
	text-align: center
}
/**grid样式的表格容器，内容行里列的样式**/
.grid tbody td {
	height: 14px;
	padding: 10px 5px 10px 15px;
	border-left: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	background: #fff
}
/**grid样式的表格容器，内容行里第1列的样式**/
.grid tbody td:first-child {
	border-left: 0
}
/**grid样式的表格容器，num的样式**/
.grid .num {
	width: 70px;
	text-align: center
}
/**grid样式的表格容器，按钮的样式**/
.grid .button {
	line-height: 26px;
	height: 26px
}
/**grid样式的表格容器，按钮里文字的样式**/
.grid .button .button-label {
	margin-top: 6px;
	line-height: 1
}
/**当鼠标悬停在grid样式的表格容器内容行里某列的样式**/
.grid tbody tr:hover td {
	background-color: #edebeb;
}
/**添加file的包裹容器的样式**/
.file {
	display: block;
	position: relative;
	width: 140px;
	height: 39px;
	overflow: hidden;
	border: 1px solid #EBEBEB;
	background: none repeat scroll 0 0 #F3F3F3;
	color: #999999;
	cursor: pointer;
	text-align: center;
	cursor: pointer;
}
/**添加file的包裹容器中文字的样式**/
.file span {
	display: block;
	line-height: 39px;
	cursor: pointer;
}
/**添加file的包裹容器中图标的样式**/
.file em {
	background: url(../imgs/addPic.png) 0 0;
	display: inline-block;
	width: 18px;
	height: 18px;
	overflow: hidden;
	margin: 10px 5px 10px 0;
	line-height: 20em;
	vertical-align: middle;
	cursor: pointer;
}
/**当鼠标悬停在file的容器图标的样式**/
.file:hover em {
	background-position: -19px 0;
	cursor: pointer;
}
/**file类型的输入框的样式**/
.file input {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 140px;
	height: 39px;
	font-size: 100px; /* 增大不同浏览器的可点击区域 */
	opacity: 0; /* 实现的关键点 */
	filter: alpha(opacity = 0); /* 兼容IE */
	cursor: pointer;
}

.footer {
	margin-bottom: 15px;
}