/**定制layui**/
.layui-layer-page {
	min-width: 260px
}

.layui-layer-page .layui-layer-content {
	position: relative;
	padding: 20px 20px 20px 20px;
	line-height: 24px;
	word-break: break-all;
	overflow: hidden;
	font-size: 14px;
	overflow-x: hidden;
	overflow-y: auto
}

.layui-layer-page .layui-layer-content .layui-layer-ico {
	position: absolute;
	top: 16px;
	left: 15px;
	_left: -40px;
	width: 30px;
	height: 30px
}

.layui-layer-dialog .layui-layer-content {
	overflow-x: auto;
}

.layui-layer-btn a, .layui-layer-page .layui-layer-ico,
	.layui-layer-setwin a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top
}

/**定制layui**/
.layui-layer-content input[type="text"], .layui-layer-content input[type="password"] {
	float: left;
	margin-right: 10px;
}

/**定制弹出框样式page,type:1**/
.layui-layer-page .layui-layer-content {
	padding: 10px 10px 0px 10px;
}